*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo{
    font-size: 18px;
}

.navlinks ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.navlinks a{
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.user-btn{
    color: rgb(1, 136, 255);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(54, 175, 223, 0.26);

}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container{
    display:inline;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    width: 50%;
    /* background-color: aqua; */
}
.text-container h1{
    color: rgba(46, 46, 46, 0.63);
    font-size: 40px;
    padding-bottom: 15px;
}
.text-container h1 span{
    color: rgb(0, 174, 255);
}

.text-container p{
    color: grey;
    padding-bottom: 20px;
}

.text-container button{
    border-radius: 12px;
    margin-left: 12px;
    color: white;
    font-size: 18px;
    padding: 20px 38px;
    border: none;
    background-color: rgb(0, 174, 255);
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50%;
}

.img-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.acheive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 174, 255);
    padding: 30px ;
    color: rgba(20, 20, 20, 0.87);
}

.ac h3{
    font-size: 30px;
}

.rates h3{
font-size: 25px;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.left-con{
    flex:1;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(95, 93, 93, 0.466);
}

.left-con h3{
    font-size: 28px; 
    color: rgba(0, 0, 0, 0.849);
}

.left-con p{
    color: rgb(70, 69, 69);
    font-size: 14px;
    padding-bottom: 10px;
}

.right-con{
    flex: 1;
}